<ion-row>
  <ion-col *ngFor="let p of this.posts">
    <ion-card class="post-card" (click)="presentAddOrEditPostModal(false, p)">
      <img src={{p.mini.imgUrl}}>
      <ion-card-header>
        <ion-card-title>{{p.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Likes: {{p.likes}}</p>
        <p>Comments: {{p.comments.length}}</p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-fab class="newItem">
  <ion-fab-button (click)="presentAddOrEditPostModal(true, undefined)">+</ion-fab-button>
</ion-fab>