<ion-content class="tabs-content">
<ion-header>
  <ion-toolbar>
    <ion-title>Social</ion-title>
    <ion-icon name="settings" class="settings-icon" (click)="presentSettingsModal()"></ion-icon>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="social-feed" checked>
        <ion-label>Social Feed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="my-posts">
        <ion-label>My Posts</ion-label>
      </ion-segment-button>
    </ion-segment>
</ion-header>
  <app-social-feed *ngIf="this.whichPage == 'social-feed'"></app-social-feed>
  <app-my-posts *ngIf="this.whichPage == 'my-posts'"></app-my-posts>
</ion-content>