.tutorialspage{
    color: #e0dbd1;
    background-color: #8fbc8f;
    font-size: 15pt;
    height: 100%;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    border: solid black;
}

.tutorialbody{
    width: 90%;
    margin-left: 5%;
}