
  <p class="tutorialspage">
      <br>
      <a href="https://www.youtube.com/watch?v=PRz8DbbD04I">
        Prepping and Priming 
     </a>
     <br><br>
    <a href="http://www.how-to-paint-miniatures.com/miniature_painting_blending.html">
      Blending
   </a>
   <br><br>
    <a href="https://www.reddit.com/r/minipainting/comments/3mm91w/advanced_tutorial_layering/">
      Layering
   </a>
   <br><br>
    <a href="https://spikeybits.com/2013/08/feathering-and-blending-vs-wet-blending.html">
      Feathering
   </a>
    </p> 
  
  