.selected {
    outline: 2px solid rgb(56, 128, 255);
    outline-offset: -2px;
}

.color {
    width: 7.69%;
    min-height: 30px;
}

ion-toolbar{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.hidden {
    color: red;
    visibility: hidden;
}

.label {
    color: rgb(56, 128, 255);
}

.pick-a-color {
    padding: 10px 0px 5px 0px;
    margin-left: -4px;
}

.pick-a-color, .label-brand {
    font-size: 12.8px;
}

.save-create-button {
    margin-top: 20px;
}

ion-input {
    color: #222;
}