.author {
    font-size: larger;
}
.comments {
    border: 8px rgba(0,0,0,0.1);
}
.commentImg {
    max-width: 100%;
    max-height: 100%;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
<<<<<<< HEAD:src/app/social/postmodal/postmodal.component.scss
.tRow th {
    color: black;
}
.tRow {
    border-style: outset;
    border-width: 1px;
    border-color: whitesmoke;
    border-top: none;
    border-left: none;
    box-shadow: 5px 10px whitesmoke;
}
=======

.color {
    display: inline;
}
>>>>>>> 7693fa3ae7929a06e82c798ffa2c5deffdac419a:src/app/social/social-feed/postmodal/postmodal.component.scss
