<ion-header>
  <ion-toolbar>
    <ion-title>
      Shopping
    </ion-title>
    <ion-icon name="settings" class="settings-icon" (click)="presentSettingsModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="tabs-content">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Army Painter</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Miniature-Painting-Bonus-Wargamer-Regiment/dp/B01MTXRUUT/ref=sr_1_1_sspa?keywords=citadel+paint&qid=1557278665&s=gateway&sr=8-1-spons&psc=1&smid=AU2FNATHSFHNB">Army Painter Miniature Painting Kit </a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $89.99 from Amazon
      <img src = "./assets/warpaintset.jpg">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Army Painter</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Army-Painter-CP3001-Base-Primer/dp/B005WH3LVG/ref=sr_1_2_sspa?keywords=citadel+paint&qid=1557279398&s=gateway&sr=8-2-spons&psc=1">Army Painter Matt Black Color Primer</a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $16.95 from Amazon
      <img src = "./assets/armypainter1.jpg">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Citadel</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Citadel-Shade-Paint-Games-Workshop/dp/B00KOD3FM8/ref=sr_1_4?keywords=citadel+paint&qid=1557279724&s=gateway&sr=8-4">Citadel Shade Paint Set </a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $31.32 from Amazon
      <img src = "./assets/citadelpaint1.jpg">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Citadel</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Citadel-Water-Pot-2018-Edition/dp/B07KBDWMY7/ref=sr_1_12?keywords=citadel+paint&qid=1557280498&s=gateway&sr=8-12">Citadel Water Pot 2018 Edition </a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $7.49 from Amazon
      <img src = "./assets/citadelpaint2.jpg">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By ArtBrush Tower</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Professional-Detail-Paint-Brush-Set/dp/B016JR44A4/ref=sr_1_57_sspa?keywords=citadel+paint&qid=1557280498&s=gateway&sr=8-57-spons&psc=1">Professional Detail Paint Brush Set </a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $7.97 from Amazon
      <img src = "./assets/brush.jpg">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Warhammer</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Games-Workshop-Warhammer-Intercessors-Miniatures/dp/B073X5L1XZ/ref=sr_1_1?keywords=miniatures+warhammer&qid=1557281639&s=gateway&sr=8-1">Warhammer 40k Minature Paint Set</a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $29.75 from Amazon
      <img src = "./assets/citadel2.jpg">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Citadel</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Games-Workshop-Warhammer-Citadel-Crusade/dp/B00VF4MJUO/ref=sr_1_10?keywords=miniatures+warhammer&qid=1557281925&s=gateway&sr=8-10">Warhammer 40K Citadel Crusade Figure Case</a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $105.40 from Amazon
      <img src = "./assets/citadel3.jpg">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Warhammer</ion-card-subtitle>
      <ion-card-title><a href = "https://www.amazon.com/Bloodletters-Khorne-Daemons-Warhammer-Fantasy/dp/B0018OALAQ/ref=sr_1_11?keywords=miniatures+warhammer&qid=1557281925&s=gateway&sr=8-11">Bloodletters of Khorne Daemons Warhammer Fantasy 40k</a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $24.65 from Amazon
      <img src = "./assets/demonsxd.jpg">
    </ion-card-content>
  </ion-card>

</ion-content>
