.newPaint{
    position: fixed;
    bottom: 12%;
    right: 5%;
}
.Orange-Orange{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: orange;
}

.Princess-Purple{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: #b599c1;
}

.Void{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: black;
}

.Jens-Hair-Red{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: #a5452b
}
.Noble-Blue{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: #3e44e8;
}

.Witcher-White{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: black;
    background-color: white;
}

.Sun{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: #e5d664;
}

.Grass{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: green;
}

.Wood{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: burlywood;
}

.Sky{
    font-size: 20pt;
    text-align: center;
    height: 2.5cm;
    color: white;
    background-color: #5cb1f2;
}