<ion-content class="paints-page">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="Orange-OrangeClick()" class="brand">
          <ion-card-header class="Orange-Orange">
            Orange Orange
          </ion-card-header>
          Citadel
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="Princess-Purple()" class="brand">
          <ion-card-header class="Princess-Purple">
            Princess Purple
          </ion-card-header>
          Valejo
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card (click)="Void()" class="brand">
          <ion-card-header class="Void">
            Void
          </ion-card-header>
          Valejo
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="Jens-Hair-Red()" class="brand">
          <ion-card-header class="Jens-Hair-Red">
            Jen Red
          </ion-card-header>
          Valejo
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <ion-card (click)="Noble-Blue()" class="brand">
            <ion-card-header class="Noble-Blue">
              Noble Blue
            </ion-card-header>
            Citadel
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card (click)="Witcher-White()" class="brand">
            <ion-card-header class="Witcher-White">
              Witcher White
            </ion-card-header>
            Army Painter
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-card (click)="Sun()" class="brand">
              <ion-card-header class="Sun">
                Sun
              </ion-card-header>
              Army Painter
            </ion-card>
          </ion-col>
    
          <ion-col>
            <ion-card (click)="Grass()" class="brand">
              <ion-card-header class="Grass">
                Grass
              </ion-card-header>
              Citadel
            </ion-card>
          </ion-col>
        </ion-row>
      
        <ion-row>
            <ion-col>
              <ion-card (class)="Wood" class="brand">
                <ion-card-header class="Wood">
                  Wood
                </ion-card-header>
                Army Painter
              </ion-card>
            </ion-col>
      
            <ion-col>
              <ion-card (class)="Sky" class="brand">
                <ion-card-header class="Sky">
                  Sky
                </ion-card-header>
                Valejo
              </ion-card>
            </ion-col>
          </ion-row>
  </ion-grid>

  <ion-fab class="newPaint">
      <ion-fab-button (click)="presentPaintsModal()">+</ion-fab-button>
    </ion-fab>
    
</ion-content>


