<ion-content class="paints-page">
  <div class="ionCards">

    <ion-card (click)="Orange-OrangeClick()" class="brand">
      <ion-card-header class="Orange-Orange">
        Orange Orange
      </ion-card-header>
      <ion-item class="brand">
        Mini: This Cool Guy
        </ion-item>
        <ion-item class="brand">
        Brand: Citadel
      </ion-item>
    </ion-card>

    <ion-card (click)="Princess-Purple()" class="brand">
      <ion-card-header class="Princess-Purple">
       Princess Purple
      </ion-card-header>
        <ion-item class="brand">
         Mini: This cool Guy
        </ion-item>
        <ion-item class="brand">
        Brand: Army Painter
      </ion-item>
    </ion-card>

    <ion-card (click)="Void()" class="brand">
      <ion-card-header class="Void">
        Void
      </ion-card-header>
        <ion-item class="brand">
          Mini: This cool Guy
        </ion-item>
        <ion-item class="brand">
          Brand: Valejo
      </ion-item>

    </ion-card>

  </div>
  <ion-fab class="newPaint">
      <ion-fab-button (click)="presentPaintsModal()">+</ion-fab-button>
    </ion-fab>
    
</ion-content>


