<ion-content class="paints-page">
  <ion-row>
    <ion-col size="6" *ngFor="let paint of this.paints">
      <ion-card (click)="presentAddOrEditPaintModal(false, paint)">
        <div class="paint-color" [ngStyle]="{ 'background-color': paint.color }"></div>
        <ion-item>
          <p>{{paint.name}}</p>
        </ion-item>
        <ion-item>
          <p>{{paint.brand}}</p>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-fab class="newPaint">
    <ion-fab-button (click)="presentAddOrEditPaintModal(true, undefined)">+</ion-fab-button>
  </ion-fab>

</ion-content>