.newPaint{
    position: fixed;
    bottom: 12%;
    right: 5%;
}

.brand{
    text-align: center;
}

.colorCard{
    height: 2cm;
}

.Orange-Orange{
    font-size: 20pt;
    text-align: center;
//height: 2cm;
    color: white;
    background-color: orange;
}

.Princess-Purple{
    font-size: 20pt;
    text-align: center;
  //  height: 2.5cm;
    color: white;
    background-color: #b599c1;
}

.Void{
    font-size: 20pt;
    text-align: center;
  //  height: 2.5cm;
    color: white;
    background-color: black;
}
