
<ion-header>
  <ion-toolbar>
    <ion-title>
      Extras
    </ion-title>
    <ion-icon name="settings" class="settings-icon" (click)="presentSettingsModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="tabs-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click) = "this.whichPage = 'paintingtutorials'" class="morepage">
          <ion-card-title class="titlecard">
            <br>
            Painting Tutorials
          </ion-card-title>
         </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click) = "this.whichPage = 'how'" class="morepage">
          <ion-card-title class="titlecard">
            <br>
            How-To
          </ion-card-title>
         </ion-card>
      </ion-col>
     
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card (click) = "this.whichPage = 'tips'" class="morepage">
          <ion-card-title class="titlecard">
            <br>
            Tips
          </ion-card-title>
          </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click) = "this.whichPage = 'paintingcourses'" class="morepage">
            <ion-card-title class="titlecard">
              <br>
              Painting Courses
            </ion-card-title>
         </ion-card>
      </ion-col>
     
      
    </ion-row>
  </ion-grid>
  <app-paintingtutorials *ngIf="this.whichPage == 'paintingtutorials'"></app-paintingtutorials>
  <app-how *ngIf="this.whichPage == 'how'"></app-how>
  <app-tips *ngIf="this.whichPage == 'tips'"></app-tips>
  <app-paintingcourses *ngIf="this.whichPage == 'paintingcourses'"></app-paintingcourses>
</ion-content>
