<ion-header>
  <ion-toolbar>
    <ion-title>
      Extras
    </ion-title>
    <ion-icon name="settings" class="settings-icon" (click)="presentSettingsModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Painting Tutorials</ion-card-title>
          </ion-card-header>
         </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>How-To</ion-card-title>
          </ion-card-header>
         </ion-card>
      </ion-col>
     
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Tips</ion-card-title>
          </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Painting Courses</ion-card-title>
          </ion-card-header>
         </ion-card>
      </ion-col>
     
      
    </ion-row>
  </ion-grid>
</ion-content>
