.morepage{
    width: 85%;
    background-color: var(--color);
    height: 2.5cm;   
    text-align: center;
}

.morepage:hover{
    background-color: var(--ion-color-primary);
}

.titlecard{
    text-align: center;
    color: white;
}
