
  <p class="tutorialspage">
      <br>
      <a href="https://geekandsundry.com/5-things-beginner-miniature-painters-need-to-know/">
        Geek and Sundry: Top 5 Tips
     </a>
     <br><br>
      <a href="https://geekandsundry.com/how-to-get-organized-and-be-a-better-miniature-painter-in-2018/">
        How to get Organized
     </a>
     <br><br>
      <a href="http://www.how-to-paint-miniatures.com/">
        Useful mini tips
     </a>
     <br><br>
      <a href="https://nightsatthegametable.com/blog/2018/11/30/3-quick-tips-to-improve-your-miniature-painting/">
        Improve your painting
     </a>
    </p> 
  
  