.tutorialspage{
    color: black;
    font-size: 15pt;
    height: 100%;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    border: dotted black;
}

.tutorialbody{
    width: 90%;
    margin-left: 5%;
}