.newItem {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

img {
    min-height: 170px;
    object-fit: cover;
}

ion-label {
    color: #aaa;
}

.color {
    display: inline-block;
    width: 20px;
    outline: 1px solid black;
    outline-offset: -1px;
}