  <ion-toolbar>
    <ion-title>Add New Miniature</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="doYouWantToSave()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<ion-content>
  <ion-item>
    <img [src]="this.newMini.imgUrl">
    <ion-fab class="newItem">
      <ion-fab-button (click)="openActionSheet()">+</ion-fab-button>
    </ion-fab>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
    <ion-input required placeholder="Name" [(ngModel)]="this.newMini.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
    <ion-textarea rows="4" placeholder="Description" [(ngModel)]="this.newMini.desc"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Brand" [(ngModel)]="this.newMini.brand"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Game" [(ngModel)]="this.newMini.game"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Share</ion-label>
    <ion-checkbox [(ngModel)]="this.newMini.shared"></ion-checkbox>
  </ion-item>
 
  <ion-button expand="full" (click)="createMini()">Create</ion-button>
</ion-content>