.newItem {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

ion-grid {
    height: 100%;
  
    ion-row {
      height: 33.33%;
    }
}

img {
    min-height: 170px;
    object-fit: cover;
}