.newItem {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

ion-grid {
    height: 100%;
  
    ion-row {
      height: 33.33%;
    }
}

img {
    min-height: 170px;
    object-fit: cover;
}

.shared-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 2em;
  color: orange;
}

p {
  text-align: center;
}