.newItem {
    position: fixed;
    bottom: 12%;
    right: 5%;
}

ion-grid {
    height: 100%;
  
    ion-row {
      height: 33.33%;
    }
}

.mini-title {
  text-align: center;
  color: #000;
}

img {
    min-height: 170px;
    object-fit: cover;
}

p {
  text-align: center;
}