// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.settings-icon {
    float: right;
    font-size: 1.2em;
    padding-right: 10px;
}

ion-title {
    float: left;
}

ion-label {
    font-family: 'Play';
}

.platform-android {
    .tabs-content {
      @extend .has-tabs-top !optional;
    }
  }
  
  .platform-ios {
    .tabs-content {
      @extend .has-tabs !optional;
    }
  }