<h2>Please Register</h2>
 <ion-grid>
    <ion-row justify-content-center>
       <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <br>
            <br>
            <br>
            <br>
            <br>
             </div>
             <img src = "./assets/icon/painterpal.jpg" class="center">
              <div padding>
                  <ion-item>
                      <ion-input type="text" id = "email" ng-model="email" placeholder="Email" ></ion-input>
                     </ion-item> 
                 <ion-item>
                    <ion-input type="text" id = "username" ng-model="username" placeholder="Username" >
                    </ion-input>
                  </ion-item>
                   <ion-item>
                      <ion-input type="password" id = "password" ng-model="password" placeholder="Password" ></ion-input>
                     </ion-item> 
                     <ion-item>
                        <ion-input type="password" id = "confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password" ></ion-input>
                       </ion-item> 
                    </div>
                     <div padding> <ion-button  size="medium" href="http://localhost:8100/social" expand="block">Register</ion-button> </div> 

         </ion-col> 
      </ion-row> 
  </ion-grid>