<ion-toolbar>
  <ion-title></ion-title>
  <ion-buttons slot="secondary">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>
          Notifications  
    </ion-label>
      <ion-toggle>Notifications</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-button
      class="SettingsButton">
          About Us
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button 
      class="SettingsButton">
        Contact Us
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button 
      class="SettingsButton">
        Report a Problem
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button
      class="SettingsButton"
      (click)="LogoutClick()"> 
        Logout
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>

